
<header class = "navbar-fixed-top">
  <div class="dropdown">
    <span class="glyphicon glyphicon-align-justify" data-toggle="dropdown"></span>

  </div>



  <div class = "glyphs">

    <%=
    link_to("https://www.facebook.com/patrick.lauer.9") do 
      image_tag "glyphicons_social_30_facebook.png"
    end
    %>
    <%=
    link_to("https://twitter.com/plauer411") do 
      image_tag "glyphicons_social_31_twitter.png"
    end
    %>
    <%=
    link_to("https://www.linkedin.com/in/patricklauer") do 
      image_tag "glyphicons_social_17_linked_in.png" 
    end
    %>
    <%=
    link_to("https://github.com/plauer") do 
      image_tag "glyphicons_social_21_github.png" 
    end
    %>

  </div>

  <div class = "name">
    <h4 class = "text-center">Pat Lauer</h4>
  </div>

  <div class = "nav-menu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Blog", posts_path %></li>
    <li><%= link_to "Gallery", photos_path %></li>
    <li><%= link_to "Resume", resume_path %></li>
  </ul>
  </div>





  </header>