<!DOCTYPE html>
<html>
<head>
  <title>Website</title>

  <%= stylesheet_link_tag    'application', "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">

    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
